<div class="container">
  <h1>Welcome to Racer!</h1>
  <h3>type in your names and press start!</h3>
	<form action="/start" method="post">
	  <input type="text" id="player1" name="player1" placeholder="player 1">
	  <input type="text" id="player2" name="player2" placeholder="player 2">
	  <input type="submit" value="Start!">
	</form>
</div>



