<div class="container">
  <h1> Racer Results! </h1>
  <h3> Race number: <%= @game.id%> </h3>
  <p> Winner: <%= @winner.name %> </p>
  <p> Loser: <%= @loser.name %> </p>
  <p> Time: <%= @game.duration %> </p>
</div>